.jelentkconfel{
    width: 40rem;
}

.jelentbt{
    text-align: center;
}

.jel-f-div{
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}

.h3_jel{
    margin: 0rem 0rem 4rem;
}